header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  width: 100vw;
  height: 90px;
  background-color: var(--secondary-bg-color);
}

img {
  width: 250px;
}

i {
  font-size: 35px;
  color: #fff;
}

.header-icons {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.cart-icon {
  display: flex;
}

.total-items {
  display: flex;
  position: relative;
  /* font-size: 18px; */
  right: 10px;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
  color: #fff;
}
