section {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  padding: 0px 180px;
  margin-top: 120px;
  height: 75vh;
}

.products-filters {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100%;
}

.products {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
}

.result-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  font-size: 20px;
}

.total-results {
  font-style: italic;
  color: gray;
  font-size: 14px;
}

hr {
  width: 250px;
  opacity: 30%;
}

.box-filter {
  margin-top: 50px;
  font-size: 20px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  font-size: 15px;
}

.filter-options a {
  margin-top: 5px;
}

.products-buttons {
  display: flex;
  justify-content: space-between;
  width: 420px;
}

.products-buttons button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
}

.select-all {
  color: var(--secondary-bg-color);
}

.add-to-cart {
  background-color: var(--secondary-bg-color);
  color: #fff;
}

ol {
  list-style-type: none;
  margin-right: 50px;
}

.products-items {
  height: 70vh;
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
  flex-direction: column;
  margin-top: 30px;
}
