<div class="product">
  <div class="first-box">
    <input type="checkbox" />
    <img src="../../../assets/t-shirt-mockup.png" />
    <div class="product-info">
      <b class="product-title">{{ product.description }}</b>
      <p class="product-price">
        {{ currencyHelper.formatToBRL(product.price) }} / 1 und.
      </p>
      <p class="product-description">
        {{ product.longDescription }}
      </p>
    </div>
  </div>
  <div class="second-box">
    <a>
      <i class="bi bi-heart fav-icon"></i>
    </a>
    <a><button class="add-to-cart" (click)="addToCart()">+ Carrinho</button></a>
  </div>
</div>
<hr />
