main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

section {
  margin-top: 0;
}

.home-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  min-width: 500px;
  margin-bottom: 20px;
  width: 30vw;
}

.home-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

button {
  color: #fff;
  font-size: 25px;
  margin: 20px;
  width: 15vw;
  height: 50px;
  border: none;
  border-radius: 10px;
}
