section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 120px;
  padding: 0px 200px;
  height: 95vh;
}

.cart {
  height: 68vh;
}

h1 {
  font-size: 45px;
}

.empty-cart-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}

.empty-cart-text {
  font-size: 50px;
}

img {
  width: 500px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  height: 90%;
  padding: 0px 80px;
}

.finish-cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  width: 100%;
}

.finish-cart hr {
  width: 100%;
  opacity: 20%;
}

.finish-cart button {
  margin-top: 20px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding: 0 20px;
  font-weight: 700;
  background-color: var(--main-bg-color);
  color: #fff;
}

.total-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
}

@media screen and (max-width: 1366px) {
  .cart {
    height: 50vh;
  }
}
