@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  --main-bg-color: #00dda5;
  --secondary-bg-color: #20124e;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  width: 100vw;
  height: 100vh;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s all;
}

a:hover {
  opacity: 80%;
}

button {
  cursor: pointer;
}

.main-bg-color {
  background-color: var(--main-bg-color);
}

.secondary-bg-color {
  background-color: var(--secondary-bg-color);
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
}
